<h3>{{ _('SMS Notifier Configuration') }}</h3>

<form class="form-horizontal">

	<div class="control-group">
		<div class="controls" title="{{ _('You can toggle whether SMS notifications are enabled while a print is in progress.') }}">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.smsnotifier.enabled" /> {{ _('Enabled') }}
			</label>
		</div>
	</div>

	<div class="control-group" title="{{ _('Printer name so you can tell which printer finished.') }}">
		<label class="control-label">{{ _('Unique (to you) Printer name') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.printer_name">
		</div>
	</div>

	<div class="control-group" title="{{ _('Print complete notifications will be sent as SMS to this/these phone numbers.') }}">
		<label class="control-label">{{ _('Recipient Phone number (comma separated)') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.recipient_number">
		</div>
	</div>

	<h4>{{ _('Twilio Settings') }}</h4>

	<p>{{ _('You can use a free trial twilio account; request your first number and verify you cell phone number and you can send free messages to that number.') }}</p>

	<div class="control-group" title="{{ _('Account SID.') }}">
		<label class="control-label">{{ _('Account SID') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.account_sid">
		</div>
	</div>

	<div class="control-group" title="{{ _('Auth Token.') }}">
		<label class="control-label">{{ _('Auth Token') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.auth_token">
		</div>
	</div>

	<div class="control-group" title="{{ _('Twilio Number.') }}">
		<label class="control-label">{{ _('Twilio Number') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.from_number">
		</div>
	</div>

	<h4>{{ _('Message Content') }}</h4>

	<p>{{ _('The SMS template may contain the tags <code>{filename}</code>, <code>{elapsed_time}</code>, and <code>{printer_name}</code>.') }}</p>

	<div class="control-group" title="{{ _('Content of notification message') }}">
		<label class="control-label">{{ _('Message') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.smsnotifier.message_format.body">
		</div>
	</div>

	<div class="control-group">
      <div class="controls">
          <label class="checkbox">
              <input type="checkbox" data-bind="checked: settings.plugins.smsnotifier.send_image">{{ _('Send picture (camera required)') }}
          </label>
          <span class="help-block"><span class="label label-warning">{{ _('Warning') }}</span>{% trans %}
              Due to the way Twilio implements <a href="https://www.twilio.com/docs/quickstart/python/sms/sending-via-rest#send-sms-via-api" target="_blank">sending of picture messages</a>. The snapshot from your camera will be hosted <b>publicly</b> at <a href="https://cloudinary.com/" target="_blank">uploads.im</a>.
          {% endtrans %}</span>
      </div>
  </div>
</form>
