<h3>{{ plugin_smsnotifier_name }} - {{ plugin_smsnotifier_version }}</h3>

<h4>{{ _('Plugin Configuration') }}</h4>

<form id="smsnotifierViewModel" class="form-horizontal">
	<div class="control-group" title="{{ _('You can toggle whether SMS notifications are enabled while a print is in progress.') }}">
		<label class="control-label">{{ _('Enabled') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind='checked: enabled, uniqueName: true' />
		</div>
	</div>

	<div class="control-group" title="{{ _('Notifications will be sent as SMS to this/these phone numbers.') }}">
		<label class="control-label">{{ _('Recipient Phone # (comma separated)') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind='value: recipient_number, uniqueName: true'>
		</div>
	</div>

	<h4>{{ _('Twilio Settings') }}</h4>

	<p>{{ _('You can use a free trial Twilio account; request your first number and verify you cell phone number and you can send free messages to that number.') }}</p>

	<div class="control-group" title="{{ _('Account SID.') }}">
		<label class="control-label">{{ _('Account SID') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind='value: account_sid, uniqueName: true'>
		</div>
	</div>

	<div class="control-group" title="{{ _('Auth Token.') }}">
		<label class="control-label">{{ _('Auth Token') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind='value: auth_token, uniqueName: true'>
		</div>
	</div>

	<div class="control-group" title="{{ _('Twilio Number.') }}">
		<label class="control-label">{{ _('Twilio Number') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind='value: from_number, uniqueName: true'>
		</div>
	</div>

	<h4>Event Configuration</h4>

	<p>
		You can send a text message and optional picture for any OctoPrint <a href='https://docs.octoprint.org/en/master/events/index.html#available-events' target="_blank">event</a>.
		You can use any variables from the events Payload in your message, for example, the <code>PrintDone</code> event can use the following variables
		<code>{name}</code>, <code>{path}</code>, <code>{origin}</code>,<code>{size}</code>, <code>{owner}</code> and <code>{time}</code>.
	</p>

	<div class="control-group">
		<table id="eventsTable" data-bind='visible: events().length > 0'>
				<thead>
						<tr>
								<th class='columnName'>Event Name</th>
								<th class='columnMsg'>Message</th>
								<th class='columnPic'>Pic</th>
								<th class='columnDelete'></th>
						</tr>
				</thead>
				<tbody data-bind='foreach: events'>
						<tr>
								<td class='columnName'><input type='text' data-bind='value: name, uniqueName: true' /></td>
								<td class='columnMsg'><textarea rows="1" data-bind='value: message, uniqueName: true'></textarea></td>
								<td class='columnPic'><input type='checkbox' data-bind='checked: take_pic, uniqueName: true' /></td>
								<td class='columnDelete'><button data-bind='click: $root.removeEvent'>Delete</button></td>
						</tr>
				</tbody>
		</table>
		<button id='addEvent' data-bind='click: addEvent'>Add Event</button>

		<p id='currentEvents'>You are sending messages for <span data-bind='text: events().length'>&nbsp;</span> event(s)</p>
		<span class="help-block"><span class="label label-warning">{{ _('Warning') }}</span>
			{% trans %}
				Due to the way Twilio implements <a href="https://www.twilio.com/docs/quickstart/python/sms/sending-via-rest#send-sms-via-api" target="_blank">sending of picture messages</a>. The snapshot from your camera will be hosted <b>publicly</b> at <a href="https://cloudinary.com/" target="_blank">Cloudinary</a>.
			{% endtrans %}
		</span>
	</div>
</form>
